:root {
    --background-color: #ffffff;
    --text-default-color: #111827;
    --text-light-color: #4B5563;
    --button-default-color: #F6A63D;
    --button-text-color: #F9FAFB;
    --image-shadow-color: #E5E7EB;
}