body {
    font-family: Inter;
}

.font-heading-1 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--text-default-color);
    font-weight: 700;
}

.font-heading-1--light {
    color: var(--text-light-color);
}

.font-heading-1--contrasting {
    color: var(--text-contrasting-color);
}

.font-heading-2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: var(--text-default-color);
    font-weight: 600;
}

.font-heading-2--light {
    color: var(--text-light-color);
}

.font-heading-3 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: var(--text-default-color);
    font-weight: 600;
}

.font-subtitle {
    font-size: 20px;
    line-height: 28px;
    color: var(--text-default-color);
    font-weight: 400;
}

.font-subtitle--light {
    color: var(--text-light-color);
}

.font-subtitle--semi-bold {
    font-weight: 600;
}

.font-body-1 {
    font-size: 18px;
    line-height: 28px;
    color: var(--text-default-color);
    font-weight: 400;
}

.font-body-2 {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-default-color);
    font-weight: 400;
}

.font-body-2--medium {
    font-weight: 500;
}

.font-body-2--light {
    color: var(--text-light-color);
}

.font-body-2--dark {
    color: var(--text-dark-color);
}

.font-body-3 {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-default-color);
    font-weight: 400;
}

.font-body-3--light {
    color: var(--text-light-color);
}

.font-leave-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.font-leave-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .font-heading-1 {
        font-size: 48px;
        line-height: 48px;
    }

    .font-heading-2 {
        font-size: 18px;
        line-height: 28px;
    }

    .font-heading-3 {
        font-size: 24px;
        line-height: 32px;
    }

    .font-subtitle {
        font-size: 18px;
    }

    .font-body-1 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .font-heading-1 {
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
    }
}