header {
    padding: 16px 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__logo {
    max-height: 36px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
    padding: 0 32px;
    max-width: 1280px;
}

.header__container__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header__container__burger-menu-button {
    display: none;
    padding: 6px;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: var(--button-default-color);
}

@media (max-width: 768px) {
    .header__container__navigation {
        display: none;
    }

    .header__container__burger-menu-button {
        display: flex;
    }
}