.experience-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary-color);
}

.experience-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 48px;
    width: 1280px;
}

.experience-section__content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.experience-section__content-header__description {
    max-width: 576px;
}

.experience-section__content-grid {
    display: grid;
    grid-gap: 0 32px;
    height: 264px;
    width: 980px;
    grid-template-areas:
        "dates description"
        "dates description"
        "dates description";
    /* grid-auto-rows: min-content min-content; */
}

.experience-section__content-grid__dates {
    grid-area: dates;
    /* align-items: start; */
    align-self: start;
    width: 228px;
    padding: 16px 0px;
    background-color: var(--background-color);
    text-align: center;
}

.experience-section__content-grid__date-1 {
    /* grid-area: date-1; */
    padding: 16px 0px;
}

.experience-section__content-grid__date-2 {
    /* grid-area: date-2; */
    padding: 16px 0px;
}

.experience-section__content-grid__date-3 {
    /* grid-area: date-3; */
    padding: 16px 0px;
}

.experience-section__content-grid__description {
    grid-area: description;
    /* align-items: start; */
    align-self: start;
    width: 720px;
    padding: 32px;
    background-color: var(--background-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    gap: 48px;
    align-items: start;
}

.experience-section__content-grid__description-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.experience-section__content-grid__description-container__list {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.experience-section__content-grid__description-container__list-item {
    display: flex;
    gap: 8px;
}

.experience-section__content-grid__description-container__list-item__icon {
    display: flex;
    padding-top: 9px;
    align-items: flex-start;
}

.experience-section__background__left-fruits {
    position: absolute;
    bottom: 0;
    left: 0;
}

.experience-section__background__center-right-fruits {
    position: absolute;
    bottom: 0;
    right: 17.5%;
}

.experience-section__background__right-fruits {
    position: absolute;
    bottom: 0;
    right: 0;
}