.footer-section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    background-color: var(--background-secondary-color);
}

.footer-section__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-section__header__description {
    max-width: 576px;
    text-align: center;
}

.footer-section__contact-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-section__contact-item {
    display: flex;
    gap: 8px;
}